.f-register {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 80%;
  border-radius: 30px;

  background-color: #dcb233ab;
  border: 2px solid #b99834;
}

.i-register {
  display: flex;

  height: 40px;
  width: 300px;
  margin: auto;
  margin-bottom: 1rem;

  text-align: center;
  font-weight: bold;
  background-color: #5c9ba098;
  border-radius: 40px 40px 40px 40px;
}

.b-register {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 0.5rem;

  width: 120px;
  border-radius: 40px 40px 40px 40px;

  background-color: #dda964;
  font-weight: bold;
}

.b-register:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.6);
}
